<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    {{> header}}123
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
